/* TODO: Base index styles (optional)
 *
 * Any additional base styles not in global.css
 * Often left minimal since global.css handles most base styles
 *
 * Example:
 * body {
 *   -webkit-font-smoothing: antialiased;
 *   -moz-osx-font-smoothing: grayscale;
 * }
 */
